* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header54 {
  text-align: center;
  background: #1abc9c;
  color: white;
  display: flex;
}

.divbtn
{
  display: flex;
}

.divProfile
{
  text-align: right;
}

.divExit
{
  text-align: left;
}

.divtext
{
  padding: 8%;
  width: 60%;
}

.divempty
{
  width: 20%;
}

.divempty111
{
  width: 5%;
}

.text {
  font-weight: 900;
  padding: 40px;
  text-align: center;
  color: #619e85;
}

.text1 {
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #757575;
  opacity: 40%;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #343a40;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #666;
  color: white;
}

.rows {  
  display: flex;
}

.side {
  background-color: #f1f1f1;
  padding: 20px;
  width: 30%;
}

.main {   
  padding: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  
}

.fakeimg1 {
  background-color: #619e85;
  
  
  width: 50%;
}

.float-container {
    text-align: center;
    padding: 20px;
}

.float-child {
    text-align: center;
    width: 50%;
    float: left;
    
}

.color1
{
  background-color: #619e85;
  padding-top: 10px;
  padding-bottom: 10px;
}  

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.center13 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

.btn20 {
  background-color: #1abc9c;
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
}

.btn20:hover {
  background-color: #619e85;
}

.ProfFrom
{
  display: flex;
}

.profileItems
{
  padding: 3%;
  width: 45%;
}

.Empty12
{
  padding: 3%;
  text-align: left;
  width: 55%;
}

.btnexit
{
  width: 25%;
}

.divhead
{
  width: 60%;
}

.maindiv
{
  display: flex;
}

.btn21 {
  background-color: #1abc9c;
  border: none; 
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
}

.btn21:hover {
  background-color: #619e85;
}

.btn22 {
  background-color: #619e85;
  border: none;
  color: white; 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer; 
}

.btn22:hover {
  background-color: #1abc9c;
}