*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
#main{
	
}
#header.container-fluid{
	text-align: center;
	padding-bottom: 10px;
}
#border-bot.container{
	padding-bottom: 20px;
	border-bottom: 1px solid grey;
}
#loginform.from-group{
	display:flex;
	justify-content:center;
	background-color:grey;
}
#login.container{
	padding-top:20px;
}
.logbutt{
	margin:15px;
}
#content.container-fluid{
	
}
.hello{
	padding-bottom: 10px;
	text-align: center;
}

#flex-wrap.form-group{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}

.labelforinput{
	width:150px;
	height:30px;
	padding-top:2px;
}

.same-input{
	width:182px;
	height:30px;
}

#nav{
	display:flex;
	justify-content:center;
}

.logrows{
	display:flex;
	justify-content:center;
	margin-bottom:10px;
	padding-top:10px;
}

.temp{
	width:150px;
}

#login{
	min-height:200px;
}

.llog{
	padding-top:0em;
}

.rows{
	display:flex;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:5px;
}

#mytable{
	display: flex;
	justify-content: center; 
	overflow-y:scroll;
	height: 231px;
}

#form.container-fluid{
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	margin-bottom: 5px;
	margin-top: 5px;
}

#forradio.form-group{
	display:flex;
	justify-content:center;
}

#requestbutton{
	display:flex;
	justify-content: center;
}

.cell{
	width: 100px;
	font-size: 15px;
	text-align: center;
}

#confirm{
	width:75px;
}

#footer.container-fluid{
	padding-top:20px;
	text-align: center;
}

@media screen and (max-device-width: 500px) {
    .cell {
    	font-size: 13px;
    }
}
@media screen and (max-device-width: 350px) {
    h1.h1 {
    	font-size: 25px;
    }
    #nav {
    	display: block;
    	justify-content: center;
    }
    .logbutt{
    	display: flex;
    	justify-content: center;
    }
}

.container1 {
    margin-left: 5px;
    cursor: pointer;
}

.container2 {
    margin-left: 20px;
}